/* box-1 styling */


* {
    margin: 0px;
    font-family: arial;
    border: border-box;
}

.navbar{
    height: 60px;
    background-color: #131921;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo{
    height: 50px;
    width: 100px;
}

.logo{
    background-image: url("./amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100px;
}


.border{
    border: 1px solid transparent;  
}


.border:hover{
    border: 1px solid white;
    
}


/* box-2 styling */
.first-add{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
}


.sec-add{
    font-size: 1rem;
    margin-left: 3px;
}

.add-icon{
    display: flex;
    align-items: center;
}


/* Box-3 Styling */
.searchbox{
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    width: 620px;
    height: 40px;
    border-radius: 5px;
}


.select-search{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}

.input-search{
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;

}

.searchbox:hover{
    border: 2px solid orange;
}

/* box-4 & 5 styling */

span{
    font-size: 0.7rem;
}

.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
}


/* box-6 styling */
.navcart i{
    font-size: 30px;
}

.navcart{
    font-size: 0.85rem;
    font-weight: 700;
}


/* Panel Styling */
.menu-panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}

.panel-ops p{
    display: inline;
    margin-left: 15px;
}


.panel-ops{
    width: 80%;
    font-size: 0.85rem;
}

.panel-deals{
    font-size: 0.9rem;
    font-weight: 700;

}


/* hero section */
.hero-section{
    background-image: url(./images/hero_img.jpg);
    background-size: cover;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-msg{
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 80%;
    margin-bottom: 25px;
}


.hero-msg a{
    color: #007185;
}

/* shop section styling */
.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}


.box{
    height: 400px;
    width: 23%;
    /* border: 2px solid black; */
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
}



.box-image{
    height: 300px;
    background-size: cover;
    /* padding: 20px 0px 15px; */
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
}


.box-content p{
    color: #007185;
}



/* foot Panel-1 Styling */
footer{
    margin-top: 20px;
}

.panel-1{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;

}

/* foot panel-2 styling */

.panel-2{
    background-color: #222f3d;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}

ul{
    margin-top: 20px;
}

ul a{
    display: block;
    margin-top: 10px;
    font-size: 0.85rem;
    color: #dddddd;
}

ul p{
    font-weight: 700;
}

/* foot panel-3 styling */
.panel-3{
    background-color: #222f3d;
    color: white;
    border-top:0.5px solid white ;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
 
}

.logo{
    background-image: url("./images/amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100px;
}

/* panel-4 styling */
.panel-4{
    background-color: #131921;
    color: white;
    height: 80px;
    font-size: 0.8rem;
    text-align: center;
}

.pages{
    padding-top: 25px;
}

.copyright{
    padding-top: 5px;
}